* {
  text-align: center;
  background-color: black;
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

.download {
  color: aquamarine;
  font-size:

.please {
  color: gray;
  font-size: 21px
  font-family: Verdana;
}
